{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-sm-10">

          {% if object.photo %}
            <img class="img-responsive thumb-bigsize" src="{{ object.photo.url }}">
            <p>{{ object.description }}</p>
            <a href="{% url 'core:download' object.pk %}" target="_blank">{{ object.get_filename }}</a>
          {% endif %}

          {% if object.file %}
            {% if object.get_type == 'application/pdf' %}
              <embed src="{{ object.file.url }}" type="application/pdf" width="100%" height="500px" />
            {% else %}
              <img class="img-responsive thumb-bigsize" src="{{ object.file.url }}">
            {% endif %}
            <p>{{ object.description }}</p>
            <a href="{% url 'core:download' object.pk %}" target="_blank">{{ object.get_filename }}</a>
          {% endif %}

        </div>
    </div>
  </div>
{% endblock content %}