{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    {% if gallery %}
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Gallery</h1>
        </div>
        {% for object in gallery %}
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">

            {% if object.photo %}
              {{ object.get_type }}
              <a class="thumbnail" href="{% url 'core:gallery_detail' object.pk %}">
                <img class="img-responsive thumb-size" src="{{ object.photo.url }}">
              </a>
              <a href="{% url 'core:download' object.pk %}" target="_blank">{{ object.pk }} - {{ object.photo.name }}</a>
            {% endif %}

            {% if object.file %}
              {{ object.get_type }}
              {% if object.get_type == 'application/pdf' %}
                <a class="thumbnail" href="{% url 'core:gallery_detail' object.pk %}">
                  <img class="img-responsive thumb-size" src="{% static 'img/pdf-icon.jpg' %}">
                </a>
              {% else %}
                <a class="thumbnail" href="{% url 'core:gallery_detail' object.pk %}">
                  <img class="img-responsive thumb-size" src="{{ object.file.url }}">
                </a>
              {% endif %}
              <a href="{% url 'core:download' object.pk %}" target="_blank">{{ object.pk }} - {{ object.file.name }}</a>
            {% endif %}

          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %}