<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
      <title>Gallery</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css.map" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/thumbnail-gallery.css" rel="stylesheet">

    {% block css %}
      <style type="text/css">
        body {
          padding-top: 50px;
        }
      </style>
    {% endblock css %}

  </head>

  <body>
  

  <div class="container">

    {% block content %}
      
    {% endblock content %}

  </div> <!-- /container -->

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  </body>
</html>