{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
      <title>Gallery</title>
    {% endblock title %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/thumbnail-gallery.css' %}" rel="stylesheet">

    {% block css %}
      <style type="text/css">
        body {
          padding-top: 60px;
        }
      </style>
    {% endblock css %}

  </head>

  <body>
  {% include "nav.html" %}

  <div class="container">

    {% block content %}
      
    {% endblock content %}

  </div> <!-- /container -->

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>