{% extends "base.html" %}
{% load static %}

{% block css %}
  <style type="text/css">
    body {
      padding-top: 50px;
      background-image: url('{% static "img/giro-d-italia-bike-race.jpg" %}');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    .jumbotron {
	  background: rgba(255,255,255, 0.25); 
	}
  </style>
{% endblock css %}

{% block content %}
	
	<div class="container jumbotron col-sm-4">
		<h1	><a href="{% url 'core:gallery_list' %}" style="text-decoration:none">Gallery</a></h1>
	</div>

{% endblock content %}